Backend/__pycache__/*
YOLO/services/__pycache__/*
YOLO/runs/*
YOLO/yolo-Weights/*
YOLO/datasets/COCO
YOLO/datasets/nfacenet
YOLO/datasets/coco8
YOLO/services/detected_persons
YOLO/services/detected_persons2